.character-card-container {
  width: 400px !important;
  overflow: hidden;
  border-radius: 5px;
  background-color: #f3fbfaff;
  min-height: 150px;
  position: relative;
}

.character-card-container.male {
  background-color: #f4f2fcff;
}
.character-card-container.male .bar {
  background-color: #7d6ce2ff;
}
.character-card-container.female {
  background-color: #fff0f4ff;
}
.character-card-container.female .bar {
  background-color: #ff81a9ff;
}
.bar {
  background-color: #6ecfbdff;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
}

.gender-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.gender-container svg {
  font-size: 60px;
}

.card-content {
  display: flex;
  flex-direction: column !important;
  padding: 10px;
  justify-content: space-between;
}

.card-content p {
  font-size: 1.5rem;
}
