.characters-container {
  display: flex;
  white-space: nowrap;
  padding: 20px;
  gap: 20px;
}

.characters-container.horizontal {
  overflow-x: auto;
}

.characters-container.vertical {
  overflow-y: auto;
  align-items: center;
  flex-wrap: wrap;
}
.horizontal > .character-card-container {
  flex: 0 0 auto;
}

.loader-conainer {
  height: 100%;
}

.no-characters {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(10px, 10px);
}

@media (max-width: 768px) {
  .characters-container {
    justify-content: center;
  }
  .no-characters {
    transform: translate(-50%, -50%);
  }
}
