.characters-container {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.loader-conainer {
  height: 100%;
}

.no-characters {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(10px, 10px);
}

@media (max-width: 768px) {
  .characters-container {
    justify-content: center;
  }
  .no-characters {
    transform: translate(-50%, -50%);
  }
}
