.navbar-container {
  border: 1px solid gray;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #0e0e42;
  color: white;
}

.navbar-container :nth-child(1) {
  height: 70%;
}

.fav-button {
  color: white;
}

.fav-button svg {
  color: #ed4956;
}
