.navbar-container {
  border: 1px solid gray;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #0e0e42;
  color: white;
}

.navbar-container :nth-child(1) {
  height: 60%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-search {
  width: 50%;
}
.fav-button {
  color: white !important;
  font-weight: 400;
  width: 140px;
  text-decoration: underline !important;
}

.fav-button svg {
  color: #ed4956;
}
.toggle-menu {
  display: none !important;
}

@media (max-width: 768px) {
  .navbar-search {
    display: none;
  }
  .toggle-menu {
    display: block !important;
  }
}
