.searchContainer {
  border: 1px solid white;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  border-radius: 5px;
}

.searchContainer input {
  width: 90%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  background-color: transparent;
  color: white;
}

@media (max-width: 768px) {
  .searchContainer {
    margin-top: 10px;
    border: 1px solid gray;
  }
  .searchContainer input {
    color: black;
    background-color: white;
  }
}
