.filters-container {
  background-color: #0e0e42;
  color: white;
  padding: 20px;
  height: fit-content;
}
.checkbox-container input {
  color: white;
}
.checkbox-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo-container {
  height: 40px;
  width: 40px;
}

.logo-container img {
  width: 100%;
  color: white;
}

@media (max-width: 768px) {
  .filters-container {
    height: 100%;
  }
}
